.success {
    background-color: #b6f8c4 !important;
}

.info {
    background-color: #b2e7f5 !important;
}

.warning {
    background-color: #fae7c7 !important;
}

.error {
    background-color: #ffb7b7 !important;
}

.alert {
    width: 450px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    background-color: bisque;
    position: fixed;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    opacity: 0;
}

.alert-content {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}

.alert-content h4 {
    text-transform: capitalize;
    font-size: 18px;
}

.alert-close {
    cursor: pointer;
}

.true {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s linear;
}
.false {
    visibility: hidden;
    transition: all 0.2s linear;
    opacity: 0;
}
